.root{
    :global{
        display: flex;
        flex-direction: row;
        gap: 66px;

        .col2{
            display: flex;
            flex-direction: column;
            gap: 60px;

            h1{
                font-family: 'CD-Regular';
                font-size: 64px;
            }
            p{
                font-family: 'CD-Regular';
                font-size: 36px;
            }
            img{
                width: 290px;
                height: 386px;
                margin-left: 118px;
            }
        }
    }
}