.root{
    :global{
        margin-top: 20px;

        img{
            width: 963px;
            height: 504px;
            margin-left: 439px;
            margin-bottom: 457px;
        }
        .form{
            position: absolute;
            margin-top: -700px;
            margin-left: 100px;
            width: 692px;
            padding: 30px 50px 30px 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 70px;
            background-color: #F7F7F7;

            h1{
                font-family: 'CD-Regular';
                font-size: 40px;
            }
            input{
                width: 574px;
                height: 40px;
                border: 0;
                background-color: rgba(0,0,0,0);
                border-bottom: 1px solid #000;
                font-family: 'CD-Regular';
                font-size: 24px;
            }
            button{
                width: 315px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'CD-Bold';
                font-size: 24px;
                color: #fff;
                border: 0;
                background-color: #373756;
            }
        }
    }
}