.root{
    :global{
        padding-top: 83px;
        display: flex;
        justify-content: center;
        padding-bottom: 154px;

        .form{
            display: flex;
            flex-direction: column;
            padding: 46px 41px 50px 300px;
            gap: 50px;
            background-image: url(../../assets/img/Auth/img.png);
            box-shadow: -15px 20px 30px rgb(156, 156, 156);

            h1{
                font-family: 'CD-Regular';
                font-size: 36px;
                text-align: center;
                user-select: none;
            }
            .inputs{
                display: flex;
                flex-direction: column;
                gap: 25px;

                input{
                    width: 389px;
                    height: 30px;
                    padding-left: 20px;
                    font-family: 'CD-Regular';
                    font-size: 24px;
                }
                input::placeholder{
                    font-family: 'CD-Regular';
                    font-size: 24px;
                }
            }
            .singUp{
                display: flex;
                flex-direction: column;
                gap: 25px;

                button{
                    width: 389px;
                    height: 30px;
                    border: 0;
                    background-color: #373756;
                    font-family: 'CD-Bold';
                    font-size: 24px;
                    color: #fff;
                    cursor: pointer;
                }
                button:active{
                    background-color: #5e5e92;
                }
                .help{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    p{
                        font-family: 'CD-Regular';
                        font-size: 24px;
                        color: gray;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}