.root{
    :global{
        margin-top: 100px;
        margin-left: 138px;
        margin-bottom: 146px;
        display: flex;
        flex-direction: column;
        gap: 45px;

        h1{
            font-family: 'CD-Regular';
            font-size: 64px;
        }
        img{
            width: 1148px;
            height: 646px;
        }
    }
}