.root{
    :global{
        padding: 79px 19px 69px 19px;
        display: flex;
        flex-direction: column;
        gap: 73px;

        .title{
            margin-left: 129px;

            h1{
                font-family: 'CD-Regular';
                font-size: 64px;
            }
        }
        .cards{
            display: flex;
            flex-direction: row;
            gap: 115px;

            .card{
                display: flex;
                flex-direction: column;
                gap: 10px;

                h1{
                    font-family: 'CD-Regular';
                    font-size: 20px;
                }
                p{
                    font-family: 'CD-Bold';
                    font-size: 24px; 
                }
            }
            
        }
    }
}
@media(max-width: 744px){
    .root{
        :global{
            .cards{
                margin-left: 300px;
                flex-wrap: wrap;
                column-gap: 260px;
            }
        }
    }
}
@media(max-width: 390px){
    .root{
        :global{
            .cards{
                margin: 0;
                justify-content: center;
                flex-wrap: wrap;
                column-gap: 700px;

                .card{
                    width: 700px;

                    h1{
                        font-size: 50px;
                    }
                    p{
                        font-size: 36px;
                    }
                }
            }
        }
    }
}