.root{
    :global{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: end;
        width: 370px;
        height: 500px;

        h1{
            font-family: 'CD-Regular';
            font-size: 32px;
            text-wrap: nowrap;
        }
        p{
            font-family: 'CD-Regular';
            font-size: 36px;
        }
        button{
            width: 250px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'CD-Regular';
            font-size: 24px;
            border: 1px solid gray;
            background-color: #fff;
            color: gray;
        }
        button:active{
            background-color: rgb(240, 240, 240);
        }
    }
}