.root{
    :global{
        margin-top: 40px;
        margin-left: 150px;

        .sort{
            display: flex;
            flex-direction: row;
            gap: 40px;
            background-color: #fff;
            box-shadow: 0px 0px 15px rgb(209, 209, 209);
            padding: 20px 30px 20px 30px;
            align-items: center;
            width: 725px;

            h1{
                font-family: 'CD-Regular';
                font-size: 36px;
                color: gray;
            }
            .btns{
                display: flex;
                flex-direction: row;
                gap: 17px;

                button{
                    border: 0;
                    background-color: #fff;
                    font-family: 'CD-Regular';
                    font-size: 24px;
                }
                button.active{
                    border-bottom: 1px solid #000;
                }
            }
        }
    }
}